@model Siparis
@{
	ViewData["Title"] = "Home Page";
}

<div class="row">
	<div class="col-md-6">
		<div class="row">
			<div class="col-md-10">
				<img src="~/img/Hamburger.jpg" alt="" class="form-control" />
			</div>

			<div class="col-md-3">
			</div>
		</div>


		<form asp-controller="Home" asp-action="SiparisEkle" method="post">
			<div class="row">
				<div class="col-md-1"></div>
				<div class="col-md-3 form-check">
					<input asp-for="Boyut" class="form-check-input" type="radio" value="Küçük">
					<label class="form-check-label" for="flexRadioDefault1">
						Küçük
					</label>
				</div>
				<div class="col-md-3 form-check">
					<input asp-for="Boyut" class="form-check-input" type="radio" value="Orta">
					<label class="form-check-label" for="flexRadioDefault1">
						Orta
					</label>
				</div>
				<div class="col-md-3 form-check">
					<input asp-for="Boyut" class="form-check-input" type="radio" value="Büyük">
					<label class="form-check-label" for="flexRadioDefault1">
						Büyük
					</label>
				</div>
			</div>



			<div class="row">
				<div class="col-md-10">
					<label class="form-control">MENÜ SEÇİN</label>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10">
					<select asp-for="MenuId" class="form-control" asp-items="@(new SelectList(@ViewBag.Menuler,"Id","MenuFiyat"))"></select>
				</div>
			</div>

			<div class="row">
				<div class="col-md-10">
					<label class="form-control">MALZEME SEÇİN</label>
				</div>
			</div>

			<div class="row">
				@{
					int count = 0;
					foreach (Ekstra item in ViewBag.Ekstralar)
					{
						if (count==0)
						{
									<div class="col-md-1"></div>
						}
								<div class="col-md-3 form-check">
									<input  class="form-check-input" type="checkbox" name="ekstralar" value="@item.EkstraAd" id="flexCheckDefault">
									<label class="form-check-label" for="flexCheckDefault">
										@item.EkstraAd 
									</label>
								</div>
						count++;
						if (count % 3 == 0)
						{
									<div class="row"></div>
									<div class="col-md-1"></div>
						}
					}
				}

			</div>


			<div class="row">
				<div class="col-md-5">
					ADET
					<input asp-for="Adet" type="number" value="1" />
				</div>
				<div class="col-md-5">
					<input style=" border:none;" type="submit" value="Sipariş Ekle" class="btn btn-primary float-end" />
				</div>
			</div>
			<div class="row">
			</div>
		</form>
	</div>
	<div class="col-md-6">
		<table class="table">
			<thead>
				<tr>
					<td>Menü</td>
					<td>Ekstralar</td>
					<td>Boyut</td>
					<td>Fiyat</td>
				</tr>
			</thead>
			<tbody>
				@if (@ViewBag.Siparisler.Count>0)
				{
					@foreach (Siparis item in @ViewBag.Siparisler)
				{
					<tr>
						<td>@(item.Adet) x @(item.SeciliMenu.MenuFiyat)</td>
						<td>
							@item.Ekstralar
						</td>
						<td>
							@item.Boyut
						</td>
						<td>@item.ToplamTutar</td>
					</tr>
				}
				}
			</tbody>
			<tfoot>
				
				<a asp-action="SiparisTamamla" asp-controller="Home" class="btn btn-success float-end">Siparişi Tamamla</a>
				<tr>
					<td></td>
					<td></td>
					<td>Toplam</td>
					<td>@ViewBag.Toplam.ToString("C")</td>
				</tr>
			</tfoot>
		</table>
	</div>



</div>
